body {
      font-family: 'Arial', sans-serif;
      text-align: center;
      background-color:skyblue;
    }
    h1:hover{
      background-color:white;
    }

    table {
      margin: 20px auto;
      border-collapse: collapse;
      border-radius:15px;
      background-color:black;
    }

    th, td {
      padding: 10px;
    }

    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    button {
      width: 50px;
      height: 60px;
      font-size: 40px;
      cursor: pointer;
    }